/* group of "CPU: 0%" */
body {
    background: #373853;
    transition: 1s;
}
.box {
    position: absolute;
    height: 200px;
    width: 400px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    /* border: 2px dotted rgb(250, 140, 140); */
}
.value {
    display:block;
    float:right;
    text-align:right;
    font-family: arial;
    font-size: 40px;
    letter-spacing: 10px;
    color: white;
    text-shadow: 0px 0px 7px #ffffff;
}
.label {
    font-family: arial;
    font-size: 30px;
    display:block;
    float:left;
    text-align:left;
    font-weight: 1;
    letter-spacing: 10px;
    color: white;
    padding-right: 60px;
    margin-top: 6px;
}
#clock{
    display:block;
    font-family: arial;
    font-size: 80px;
    letter-spacing: 10px;
    color: white;
    text-align:center;
}
#clockLine{
    width: 400px;
    height:2px;
    background:white;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
}